@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #e7e5e4;
    --secondary: #f4f4f4;
    --third: #a1a1aa;
    --black: #161616;
  }

  .dark {
    --primary: #161616;
    --secondary: #262626;
    --third: #f4f4f4;
    --black: #e7e5e4;
  }
}

@layer base {
  html {
    @apply font-medium;
  }

  body {
    @apply overflow-x-hidden;
  }
  
  .text-default{
    @apply text-xl leading-snug dark:text-zinc-400 text-black;
  }

  .text-title {
    @apply text-6xl leading-tight font-medium text-black;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
